{% extends 'base.html.twig' %}

{% block title %}Ohana Studio{% endblock %}

{% block body %}



<div class="row container mx-auto mt-5 mb-5" id="about">

    <div class="col-s-12 col-lg-6 my-auto">
        <h2 class="text-center">Ohana Studio</h2>
        <hr class="w-50 mx-auto">
{#        <p>X-ten by Emy est née d'une passion remontant de mon enfance, pour voir le jour en 2016 dans le fin fond de mon petit salon tournaisien. À l'époque je trouvais cela chouette...#}
{#            <br> <br>#}
{#            J'ai vite compris qu'il fallait apprendre, désapprendre et apprendre à nouveau. Je me suis perfectionné en onglerie chez#}
{#            <a href="https://www.indigonails.fr/">Indigo</a> et <a href="https://nails-company.fr/">Nails compagny</a> . J'avais la soif d'apprendre et me suis lancé un nouveau challenge, devenir en plus, une professionnelle dans le maquillage semi permanent.#}
{#            <br><br><br>#}
{#            <strong>Ohana Studio</strong> est le fruit de tous ces challenges, défit et idées conçues en pleines nuits. "Famille ", du privé au professionnel, chacun a mis sa patte dans mon nom. Mon compagnon m'a dit :" dans la vie, il faut entreprendre " et... J'ai entrepris.#}
{#            <br><br>#}
{#            Ma petite sœur Roxane Hellec est le fruit de toutes mes affiches, tarifs, flyers, cartes de visite, décor et j'en passe, elle est mon bras droit. Mon petit frère Axel Diagne est le créateur de ce magnifique site , il en a passé des heures dessus, d'ailleurs n'hésitez pas à le solliciter#}
{#            : <a href="https://looha.io">looha.io</a> et pour finir mon père qui a toujours cru en moi.#}
{#            Je me devais aujourd'hui de concrétiser tout cela avec vous et de mettre à l'honneur toute cette reconnaissance en dehors du savoir faire et du métier.#}
{#            <p class="text-center"><strong><img src="{{ asset('assets/img/star.png') }}" width="30px" alt="">Bienvenue dans mon univers<img src="{{ asset('assets/img/starreverse.png') }}" width="30px" alt=""></strong></p>#}
{#        </p>#}
        <p class="text-justify">Préparez-vous à vivre une expérience inoubliable à l'institut de beauté « Ohana Studio » à Tournai ! Emy, notre charmante et talentueuse gérante, vous attend pour vous sublimer avec délicatesse et efficacité. Laissez-vous tenter par notre gamme de prestations glamour et raffinées : manucure, vernis, extensions de cils, maquillage semi-permanent et soins avant-gardistes - votre métamorphose vous laissera sans voix !
            <br><br>
            Entrez dans notre havre de paix, où propreté impeccable et ambiance cosy sont au rendez-vous. Emy, notre esthéticienne expérimentée, maîtrise une multitude de techniques, du maquillage permanent aux soins les plus innovants. Préparez-vous à être choyé avec professionnalisme, délicatesse et minutie.
            <br><br>
            Imaginez-vous parfaitement maquillée dès le réveil, 24h/24 ! Choisissez parmi notre sélection de maquillage semi-permanent réalisé à la perfection par Emy : microblading ou microshading des sourcils, Full Lips pour des lèvres divinement colorées, Eye Liner permanent pour un regard envoûtant, ou même de faux grains de beauté... Tout est possible et le résultat est toujours sublime.
            <br><br>
            Chez « Ohana Studio » à Tournai, offrez-vous également une séance de microneedling pour une peau rayonnante sans recourir à la chirurgie, un blanchiment dentaire étincelant, un soin collagène revitalisant, une pose de faux-ongles impeccable, un vernis semi-permanent éblouissant ou encore un forfait « Beauté des mains » à partager avec votre petite fille pour un instant complice et amusant !
            <br><br>
            N'attendez plus et plongez dans l'univers exquis d'« Ohana Studio » à Tournai. Votre transformation époustouflante n'est qu'à quelques pas...</p>
    </div>
    <div class="col-s-12 col-lg-6 my-auto">
        <img src="{{ asset('assets/img/Emy.jpg') }}" class="img-fluid portrait "  alt="Photographie Selfie de Emy">
    </div>
</div>
    <hr class="mx-auto w-75">
    <div class="col-8 text-center lead my-5 mx-auto">
        <u>Nous travaillons avec salonkee pour la prise de rendez-vous en ligne.</u>
    </div>


    <div class="d-grid gap-2 col-6 mx-auto my-5">
        <a href="https://salonkee.be/salon/ohana-studio/widget" class="reservation-button btn btn-light btn-lg" type="button">
            Réserver
        </a>
    </div>


</main>



{% endblock %}
