body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    max-width: 100%;
}

h1, h2 , .ohana{
    font-family: 'WindSong', cursive;
}

h3{
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.57);
}

.back {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em; /* Ajustez la taille du filigrane */
    color: white; /* Ajustez la couleur du filigrane */
    opacity: 0.3; /* Ajustez la transparence du filigrane */
    z-index: 0; /* Assurez-vous que le filigrane est derrière le texte */
}

p{
    text-align: justify;
}

li{
    list-style-type: none;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 70vh; /* Ceci garantit que le conteneur de bannière remplit toute la hauteur de la fenêtre du navigateur */
}

.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ceci garantit que l'image couvre toute la surface du conteneur sans être déformée */
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Modifiez cette couleur pour l'adapter à votre conception */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ceci ajoute une ombre portée au texte */
    padding: 10px; /* Ceci ajoute un peu d'espace autour du texte */
}
nav{
    background-color: rgba(0, 0, 0, 0.41);
}
h1 {
    font-size: 4em;
}

.subtitle {
    font-size: 1.5em;
    padding: 0.5em;
}


.logo{
    padding : 40vh 2rem 0 2rem;
}
.test{
    height: 20rem;
    width: 20rem;
}

/* FOOTER */

.footer-div {
    position: relative;
    width: 100%;
    padding: 3rem 0;
    height: auto; /* Ceci garantit que le conteneur de bannière remplit toute la hauteur de la fenêtre du navigateur */
}

.footer-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ceci garantit que l'image couvre toute la surface du conteneur sans être déformée */
    z-index: -1;
}
.footer-basic ul {
    color: #ffffff;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

footer h4{
    color: #ffffff;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    line-height:40px;
    display:inline-block;
    text-align:center;
    padding: 0 1rem;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa!important;
    margin-bottom:0;
}
.list-inline-item-terms{
    font-size: 0.7rem;
}
.footer-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-reservation-button{
    position: relative;
    overflow: hidden;
}

.reservation-button:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
}

p{
    text-align: justify;
}

.reservation-button:hover:before {
    right: 0;
}

.reservation-button:active {
    transform: scale(0.95);
}
@media screen and (max-width: 420px) {
    .neonText {
        font-size: 5rem;
        padding: 2rem;
    }

    .nav-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-link{
        color: #fce3e7 !important;
    }
    .navbar-collapse{
        background-color: rgba(72, 62, 64, 0.13);
    }
}

@media screen and (min-width: 960px) {
    .neonText {
        font-size: 6rem;
        padding: 8rem 3rem;
    }
    .planity{
        margin-top: 3rem;
    }
    .logo{
        padding : 20vh 2rem 0 2rem;
    }
    .footer-box{
        flex-direction: row;
        width: 75%;
        margin: auto;
    }
    .frame{
        width: 600px;
        height : 300px;
    }
}

.ohana-logo-hidden {
    display: block;
}

@media (max-width: 800px) {
    .ohana-logo-visible {
        display: block;
    }
    .ohana-logo-hidden {
        display: none;
    }
}
.btn-light{
    background-color: #fce3e7!important;
    border-color : #1A1C1F!important;
}